<div class="row header">
  <div class="eight columns logo"><a routerLink="/search"><h4>Movieapp</h4></a></div>
  <div class="four columns menu-items">
    <a routerLink="/search" routerLinkActive="active" >Search</a>
    <a routerLink="/featured" routerLinkActive="active">Featured</a>
  </div>
</div>
