.header {
  background-color: #CC2A49;
  padding-left: 10px;
}

.logo {
  padding-top: 20px;
}
.menu-item {
  cursor: pointer;
  padding-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
}
.menu-item:hover {
  border-bottom: 4px solid #243B55;
}

.active  {
  color: #243B55;
  font-weight: bold;
}

.menu-items {
  padding-top: 2%;
}

.menu-items a {
  padding-left: 20px;
  padding-bottom: 18px;
  padding-right: 20px;
}