<h3>Featured Movies</h3>
<div class="row">
  <div *ngFor="let item of featuredMovieList; let i = index">
<div class="three columns">
    <div class="movie-image">
    <img src="{{item.Poster}}" />
    </div>
  </div>
  <div class="three columns">
    <div class="heading">
      {{item.Title}} ({{item.Year}})
    </div>
    <div class="section">
        <div class="section-header">
          AWARDS
        </div>
        <div class="section-content">
          <div class="rating-source">
            {{item.Awards}}
          </div>
        </div>

        <div class="section-header">
            PLOT
          </div>
          <div class="section-content">
            <div class="rating-source">
              {{item.Plot | readMore: limit}}
              <span class="more" *ngIf="item.Plot.length > 199 && limit!=undefined" (click)="showMore(i)">... Show More</span>
              <span class="more" *ngIf="item.Plot.length > 199 && limit!=200" (click)="showMore(i)"> Show Less</span>
            </div>
          </div>

      </div>
  </div>
</div>
</div>
