.button-enable {
  background-color: #1DBC60;
  color: white;
}

.movie-image {
  margin-left: -50px;
}

.movie-language-type {
  font-size: 0.7em;
}

.search-bar {
  margin: 0 auto;
  max-width: 800px;
}

ul {
  margin-bottom: 0;
  list-style: none;
}
