
<div class="row  search-bar">
  <h4>Search the movie of your choice! </h4>
  <form [(formGroup)]="searchForm" (ngSubmit)="searchMovie(searchForm)">
  <div class="eight columns">
    <div>
    <input required class="u-full-width" type="text" formControlName="movieName" placeholder="Type a movie name" id="searchbar"></div>
    <div>
        <p class="error" *ngIf="searchForm.status === 'INVALID' && (searchForm.get('movieName').dirty || searchForm.get('movieName').touched)">
          Please enter the movie name</p>
    </div>
  </div>
  
  <div class="two columns">
    <select  formControlName="plot">
        <option value="Full">Full plot</option>
        <option value="">Short plot</option>
    </select>
  </div>
  <div class="two columns">
      <button class="button-primary" type="submit">Search</button>
  </div>
  
</form>
</div>

<div *ngIf="searchCompleted && responseObject.Response === 'True'" class="row">
  <div class="twelve columns">
    <div class="heading">
      {{responseObject.Title}} ({{responseObject.Year}}) | <span class="movie-language-type">{{responseObject.Language}} {{responseObject.Type}}</span>
    </div>
      <div class="sub-heading">
        Rated: {{responseObject.Rated}} | Runtime: {{responseObject.Runtime}} | Genre: {{responseObject.Genre}} | Released: {{responseObject.Released}}
      </div>
  </div>

  <div class="three columns">
    <div class="movie-image">
    <img src="{{responseObject.Poster}}" />
    </div>
  </div>
  <div class="six columns">
      <table class="u-full-width">
          <tbody>
            <tr>
              <th>Director</th>
              <td>
                <ul *ngFor="let directors of responseObject.Director | stringToArray">
                  <li>{{directors}}</li>
                </ul></td>
            </tr>
            <tr>
              <th>Writer</th>
              <td>
                <ul *ngFor="let writers of responseObject.Writer | stringToArray">
                  <li>{{writers}}</li>
                </ul></td>
            </tr>
            <tr>
              <th>Actors</th>
              <td >
                <ul *ngFor="let actors of responseObject.Actors | stringToArray">
                  <li>{{actors}}</li>
                </ul></td>
            </tr>
          </tbody>
        </table>
  </div>

  <div class="two columns">
      <div class="section">
        <div class="section-header">
          RATINGS
        </div>
        <div class="section-content" *ngFor="let item of responseObject.Ratings">
          <div class="rating-source">
            {{item.Source}}
          </div>
          <div class="rating-value">
            {{item.Value}}
          </div>
        </div>
      </div>
      <hr>
      <div class="section">
          <div class="section-header">
            IMDB
          </div>
          <div class="section-content">
            <div class="rating-source">
              Votes: {{responseObject.imdbVotes}}
            </div>
            <div class="rating-value">
              Ratings: {{responseObject.imdbRatings}}
            </div>
          </div>
        </div>
        <hr>
        <div class="section">
            <div class="section-header">
              AWARDS
            </div>
            <div class="section-content">
              <div class="rating-source">
                {{responseObject.Awards}}
              </div>
            </div>
          </div>
  </div>



  <div class="twelve columns">
    <div class="section-header">PLOT</div>
    <div class="movie-plot">
      {{responseObject.Plot | readMore:limit}}
    <span class="more" *ngIf="responseObject.Plot.length > 199 && limit!=undefined" (click)="showMore(i)">... Show More</span>
    <span class="more" *ngIf="responseObject.Plot.length > 199 && limit!=200" (click)="showMore(i)"> Show Less</span>
    </div>
  </div>
</div>

<div class="row error" *ngIf="searchCompleted && responseObject.Response === 'False'">
 <h3> Oops! We couldnt find it in our database!</h3>
 <h4>Please make sure you have spelled the name of the movie correctly
  </h4>
</div>

