/* You can add global styles to this file, and also import other style files */
body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

body input {
  color:  #243B55;
}

body select {
  color: #243B55;
}


.more {
  cursor: pointer;
  text-decoration: underline;
  color: #CC2A49;
}

.heading {
  font-size: 2em;
  font-weight: bold;
  color: #CC2A49;
}

.section-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #CC2A49;
}

.error{
  color: rgb(255, 116, 116);
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
  text-align:center;
}